body {
  font-optical-sizing: auto;
  font-style: normal;
  --bs-body-font-family: "Figtree", sans-serif;
  //--bs-body-font-size:
  --bs-body-font-weight: 300
  //--bs-body-line-height:
  --bs-body-color: #564F3D;
  --bs-body-text-align: center;
}

h1, .h1 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 300;
  --bs-heading-color: #DECEA5;
  margin-bottom: 16px;
}
h2, .h2 {
  font-weight: 300;
}
@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 52px;
    line-height: 60px;
  }
}
h5, .h5 {
  font-weight: 400;
  color: #5e4300;
  text-transform: uppercase;

  &.black {
    color: #000;
  }
}

.lite {
  font-weight: 300;
}

.subtitle {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #837C6C;
  margin-bottom: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  color: #747064;

  @media screen and (min-width: 768px) {
    font-size: 18px;
    line-height: 29px;
  }
}

a {
  color: #ab831d;
  font-weight: 300;
  text-decoration: none;

  &.cta {
    border-bottom: 1px solid #d8d2c2;

    &:hover {
      border-bottom: 1px solid #ab831d;
    }
  }
}

.copy {
  max-width: 760px;
  margin: auto;
}

.actions {
  display: flex;
  gap: 24px;
  margin: 40px 0 0;
  justify-content: center;
  flex-wrap: wrap;

  .btn {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    margin: 40px 0;

    .btn {
      width: auto;
    }
  }
}
.btn {
  background: transparent;
  border-radius: 0;
  padding: 12px 24px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #5E4300;
  border: 1px solid #DECEA5;
  transition: color .1s ease-in-out, background .15s ease-in-out, border .15s ease-in-out;
  white-space: nowrap;

  &.arrow-r {
    position: relative;
    padding-right: 40px;

    &::after {
      content: "\2192";
      background-size: 30% auto;
      width: 25px;
      height: 25px;
      display: block;
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translate(0, -50%);
    }
  }

  &:hover {
    background: #DECEA5;
    border-color: #DECEA5;
  }
  
  &.primary {
    background: #DECEA5;
    border-color: transparent;

    &:hover {
      background: #3b3934;
      color: #DECEA5;
      border-color: #3b3934;
    }
  }
}

#wrapper {
  margin: 0 auto;
}

.section {
  background: url('../images/img1.jpg') no-repeat 50% 0;
  background-size: auto 70vh;
  display: flex;
  position: relative;
  min-height: 100vh;

  &.no-bg {
    background: none;
  }
  &.overlay {
    &:before {
      background: #FFE69A;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      opacity: .7;
      z-index: 1;
    }
    &.dark {
      &:before {
        background: #222;
      }
    }
  }

  &.box-bottom {
    padding-top: 70vh;
  }
  &.box-top,
  &.box-left {
    background-position: 50% 100%;
    padding-bottom: 70vh;

    .content-box {
      bottom: initial;
      margin-top: 0;
      margin-bottom: -140px;
    }
  }
  @media screen and (min-width: 768px) {
    background-size: cover;
    background-position: 50% 50%;

    &.box-bottom {
      margin-bottom: 420px;
      padding-top: 0;
    }
    &.box-top,
    &.box-left {
      margin-top: 420px;
      padding-bottom: 0;

      .content-box {
        margin-bottom: 0;
        margin-top: -190px;
      }
    }
  }
  @media screen and (min-width: 992px) {
    &.box-bottom {
      margin-bottom: 340px;
    }
    &.box-top {
      margin-top: 340px;
    }
  }
  @media screen and (min-width: 1200px) {
    &.box-left {
      margin: 0;

      .content-box {
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          max-width: 50%;
          min-height: 60vh;
          margin: 0 64px;
          align-content: center;
      }
    }
  }
}

.container {
  padding-left: 24px;
  padding-right: 24px;
}
@media screen and (min-width: 992px) {
  .container {
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
  }
}

.content-box {
  margin-top: -100px;
  max-width: 940px;
  background: #fff;
  padding: 48px 32px;

  @media screen and (min-width: 768px) {
    padding: 64px 94px;
    margin: 0 auto -500px;
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 0;
    z-index: 1;
  }
  @media screen and (min-width: 992px) {
    margin-bottom: -300px;
    left: 64px;
    right: 64px;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
    left: 50%;
    right: initial;
    transform: translate(-50%, 0);
  }
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;

  iframe,
  video {
    background: #d4c6a0;
    max-width: 1800px;
    width: 100vw;
    height: 56.25vw;// 16:9 aspect ratio
    min-height: 100vh;
    min-width: 177.77vh;// 16:9 aspect ratio
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #player {
    height: 100vh !important;
    max-width: none !important;
  }
  iframe {
    max-width: 1800px;

    video {
      object-fit: cover;
    }
  }
}

.logo {
  background: url('../images/logo.png') no-repeat center center;
  background-size: 100% auto;
  width: 220px;
  height: 56px;
  display: block;

  @media screen and (min-width: 768px) {
    width: 240px;
    height: 70px;
  }
}

#hero {
  background: #fff;
  align-items: center;
  text-align: center;

  .logo {
    position: absolute;
    z-index: 3;
    left: 50%;
    top: 40px;
    transform: translate(-50%, 0);
  }
  .hero-content {
    position: relative;
    z-index: 2;
    max-width: 540px;
    margin: 52px auto 0;
  }
  h1 {
    --bs-heading-color: #000;
    margin: 0 0 64px;
  }
  p {
    color: #000;
    font-size: 16px;
    line-height: 27px;
  }
  .line1 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
    row-gap: 4px;
    max-width: 420px;
    margin: 8px auto;
    flex-wrap: wrap;
  }
  .name {
    font-size: 22px;
    width: 100%;
  }
  @media screen and (min-width: 576px) {
    margin-bottom: 50px;

    .logo {
      top: 60px;
    }
    .hero-content {
      margin-top: 0;
    }
    p {
      font-size: 18px;
      line-height: 29px;
    }
    .name {
      width: auto;
    }
  }
}

#about {
  background-image: url('../images/img2.jpg');
}

.h-auto {
  min-height: initial;
}

#grid {
  background: none;
  padding: 64px 0 0;

  .row {
    row-gap: 24px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
    color: #D3BB7D;
    font-weight: 300;
    margin: 12px 0;
  }
  @media screen and (min-width: 992px) {
    .row {
      row-gap: 0;
    }
  }
}
.vm-stack {
  img:nth-child(n+2) {
    display: none;
  }
  .bx-wrapper {
    img:nth-child(n+2) {
      display: block;
    }
  }
}
.bx-wrapper {
  position: relative;

  .bx-viewport {
    height: initial !important;
  }
  .bx-controls-direction {
    a {
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 0.01px;
      line-height: 5rem;
      overflow: hidden;
      z-index: 2;
      width: 40px;
      height: 40px;

      &::before {
        content: "";
        background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yMCAuNzU1bC0xNC4zNzQgMTEuMjQ1IDE0LjM3NCAxMS4yMTktLjYxOS43ODEtMTUuMzgxLTEyIDE1LjM5MS0xMiAuNjA5Ljc1NXoiLz48L3N2Zz4=') no-repeat 50% 50%;
        background-size: 30% auto;
        //background-color: #decea5b0;
        background-color: rgba(255, 255, 255, .85);
        color: #fff;
        font-size: 22px;
        display: block;
        width: 40px;
        height: 40px;
      }
      &:hover {
        &::before {
          background-color: #fff;
        }
      }
    }
    .bx-next {
      left: initial;
      right: 0;

      &::before {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik00IC43NTVsMTQuMzc0IDExLjI0NS0xNC4zNzQgMTEuMjE5LjYxOS43ODEgMTUuMzgxLTEyLTE1LjM5MS0xMi0uNjA5Ljc1NXoiLz48L3N2Zz4=");
      }
    }
  }
}


#mission {
  background-image: url('../images/img3.jpg');
  margin-top: 60px;

  @media screen and (min-width: 768px) {
    margin-top: 240px;
  }
}


#approach {
  background: none;
  padding: 96px 0;

  .row {
    margin: 64px 0 0;
    --bs-gutter-x: 2px;
    --bs-gutter-y: 40px;
    max-width: 800px;
  }
  .img {
    position: relative;
    margin: 0 0 12px;

    .h5 {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      transform: translate(-50%, -50%);
    }
  }
  @media screen and (min-width: 576px) {
    .row {
      //margin-left: -32px;
      //margin-right: -32px;
    }
  }
  @media screen and (min-width: 768px) {
    .row {
      margin-left: auto;
      margin-right: auto;
      --bs-gutter-y: 0;
    }

  }
}


#invest {
  background-image: url('../images/img4.jpg');
  background-position: 60% 100%;
  margin-top: 50px;

  .copy {
    max-width: 500px;
    margin: auto;
  }
  @media screen and (min-width: 768px) {
    height: 80vh;
    margin-top: 200px;
  }
  @media screen and (min-width: 1200px) {
    margin: 60px 0 0;
  }
}


#base {
  background-image: url('../images/img9.jpg');
  background-position: 80% 50%;
  background-size: 100% auto;
  min-height: 20vh;
  display: flex;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;

  .container {
    align-content: center;
  }
  .row {
    width: 70%;
  }
  .strap {
    opacity: .7;
  }
  @media screen and (min-width: 768px) {
    background-size: cover;
    font-size: 20px;
    min-height:  50vh;

    .row {
      align-items: center;
      width: 100%;
    }
  }
}


.progress-wrapper {
  max-width: 500px;
  margin: 0 0 40px;
  padding: 8px 0 0;
  text-align: center;

  &.step1 {
    .progress-labels {
      span {
        &:nth-child(1) {
          color: #333;
          font-weight: 500;
        }
      }
    }
  }
  &.step2 {
    .progress-labels {
      span {
        &:nth-child(2) {
          color: #333;
          font-weight: 500;
        }
      }
    }
    .progress-bar {
      .p {
        width: 66.6666%;
      }
    }
  }
  &.step3 {
    .progress-labels {
      span {
        &:nth-child(3) {
          color: #333;
          font-weight: 500;
        }
      }
    }
    .progress-bar {
        .p {
          width: 100%;
        }
    }
  }
  @media screen and (min-width: 768px) {
    margin: 0 auto 40px;
    padding: 0;
  }
}
.progress-labels {
  font-size: 12px;
  line-height: 14px;
  color: #c9c1ae;
  letter-spacing: 0.05em;
  margin: 0 0 10px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;

  span {
    width: 33.333%;
  }
}
.progress-bar {
  background: rgba(222, 206, 165, 0.25);
  height: 2px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow: hidden;
  
  .p {
    background: #ccad5d;
    height: 3px;
    width: 33.333%;
  }
}

#form-status {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgb(94 68 3 / 80%);
  padding: 12px 24px;
  border-radius: 6px;
  color: #fff;
  z-index: 9999;
  max-width: 800px;
  display: none;
}


#enquire {
  background: #DECEA5;
  margin: 50px 0 0;

  .container {
    position: relative;
    z-index: 2;
    align-content: center;
  }
  .bg {
    display: none;
  }

  form {
    max-width: 840px;
    margin: 0 auto;
    background: #fff;
    padding: 64px 24px;
    align-content: center;

    .actions {
      margin: 24px 0 0;
    }
  }
  @media screen and (max-width: 576px) {
    min-height: auto;

    .container {
      padding: 0;
    }
  }
  @media screen and (min-width: 576px) {
    form {
      margin: 64px auto;
      padding: 64px 32px;
    }
  }
  @media screen and (min-width: 768px) {
    form {
      padding: 64px;
    }
  }
  @media screen and (min-width: 992px) {
    background: transparent;
    .bg {
      display: block;
    }
  }
}

label {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #333;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}
.form-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
}
.form-pair {
  display: flex;
  gap: 32px;
  flex-direction: column;
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;

  &.required {
    position: relative;

    &::before {
      background: red;
      content: "";
      color: #ccad5d;
      font-size: 12px;
      position: absolute;
      top: 6px;
      left: -8px;
      width: 3px;
      height: 3px;
      border-radius: 4px;
    }
  }
}
.form-text,
.form-select,
.form-textarea {
  background-color: #fdfdfd;
  font-size: 16px;
  color: #515151;
  width: 100%;
  margin: 0;
  padding: 6px 12px;
  border: 1px solid #dbd7cd;
  border-radius: 0;
  box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, .03);

  &:focus,
  &:focus-visible {
    outline: 1px solid #b3a378;
    border-color: #b3a378;
    box-shadow: none;
  }
}
select[multiple]:focus option:checked {
  background: #c7b891 linear-gradient(0deg, #c7b891 0%, #c7b891 100%);
}
option:checked {
  background: #eae3d0
}
textarea {
  resize: none;
}
.step {
  display: none;

  &.active {
    display: flex;
  }
}
@media screen and (min-width: 992px) {
  .form-pair {
    flex-direction: row;

    .form-item {
      width: 47.9%;
    }
  }
}

#footer {
  padding: 40px;
  color: #bdb6a4;

  p {
    font-size: 11px;
    margin: 0;
    line-height: 14px;

    + p {
      margin-top: 8px;
    }
  }
  .copyright {
    letter-spacing: 0.12em;
    text-transform: uppercase;
    margin-bottom: 32px;
  }
}