@charset "UTF-8";
body {
  font-optical-sizing: auto;
  font-style: normal;
  --bs-body-font-family: "Figtree", sans-serif;
  --bs-body-font-weight: 300
  //--bs-body-line-height:
  --bs-body-color: #564F3D;
  --bs-body-text-align: center;
}

h1, .h1 {
  font-size: 40px;
  line-height: 46px;
  font-weight: 300;
  --bs-heading-color: #DECEA5;
  margin-bottom: 16px;
}

h2, .h2 {
  font-weight: 300;
}

@media (min-width: 1200px) {
  h1, .h1 {
    font-size: 52px;
    line-height: 60px;
  }
}
h5, .h5 {
  font-weight: 400;
  color: #5e4300;
  text-transform: uppercase;
}
h5.black, .h5.black {
  color: #000;
}

.lite {
  font-weight: 300;
}

.subtitle {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #837C6C;
  margin-bottom: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 300;
  color: #747064;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 29px;
  }
}

a {
  color: #ab831d;
  font-weight: 300;
  text-decoration: none;
}
a.cta {
  border-bottom: 1px solid #d8d2c2;
}
a.cta:hover {
  border-bottom: 1px solid #ab831d;
}

.copy {
  max-width: 760px;
  margin: auto;
}

.actions {
  display: flex;
  gap: 24px;
  margin: 40px 0 0;
  justify-content: center;
  flex-wrap: wrap;
}
.actions .btn {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .actions {
    margin: 40px 0;
  }
  .actions .btn {
    width: auto;
  }
}

.btn {
  background: transparent;
  border-radius: 0;
  padding: 12px 24px;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.05em;
  color: #5E4300;
  border: 1px solid #DECEA5;
  transition: color 0.1s ease-in-out, background 0.15s ease-in-out, border 0.15s ease-in-out;
  white-space: nowrap;
}
.btn.arrow-r {
  position: relative;
  padding-right: 40px;
}
.btn.arrow-r::after {
  content: "→";
  background-size: 30% auto;
  width: 25px;
  height: 25px;
  display: block;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
}
.btn:hover {
  background: #DECEA5;
  border-color: #DECEA5;
}
.btn.primary {
  background: #DECEA5;
  border-color: transparent;
}
.btn.primary:hover {
  background: #3b3934;
  color: #DECEA5;
  border-color: #3b3934;
}

#wrapper {
  margin: 0 auto;
}

.section {
  background: url("../images/img1.jpg") no-repeat 50% 0;
  background-size: auto 70vh;
  display: flex;
  position: relative;
  min-height: 100vh;
}
.section.no-bg {
  background: none;
}
.section.overlay:before {
  background: #FFE69A;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  opacity: 0.7;
  z-index: 1;
}
.section.overlay.dark:before {
  background: #222;
}
.section.box-bottom {
  padding-top: 70vh;
}
.section.box-top, .section.box-left {
  background-position: 50% 100%;
  padding-bottom: 70vh;
}
.section.box-top .content-box, .section.box-left .content-box {
  bottom: initial;
  margin-top: 0;
  margin-bottom: -140px;
}
@media screen and (min-width: 768px) {
  .section {
    background-size: cover;
    background-position: 50% 50%;
  }
  .section.box-bottom {
    margin-bottom: 420px;
    padding-top: 0;
  }
  .section.box-top, .section.box-left {
    margin-top: 420px;
    padding-bottom: 0;
  }
  .section.box-top .content-box, .section.box-left .content-box {
    margin-bottom: 0;
    margin-top: -190px;
  }
}
@media screen and (min-width: 992px) {
  .section.box-bottom {
    margin-bottom: 340px;
  }
  .section.box-top {
    margin-top: 340px;
  }
}
@media screen and (min-width: 1200px) {
  .section.box-left {
    margin: 0;
  }
  .section.box-left .content-box {
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
    max-width: 50%;
    min-height: 60vh;
    margin: 0 64px;
    align-content: center;
  }
}

.container {
  padding-left: 24px;
  padding-right: 24px;
}

@media screen and (min-width: 992px) {
  .container {
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
}
.content-box {
  margin-top: -100px;
  max-width: 940px;
  background: #fff;
  padding: 48px 32px;
}
@media screen and (min-width: 768px) {
  .content-box {
    padding: 64px 94px;
    margin: 0 auto -500px;
    position: absolute;
    left: 40px;
    right: 40px;
    bottom: 0;
    z-index: 1;
  }
}
@media screen and (min-width: 992px) {
  .content-box {
    margin-bottom: -300px;
    left: 64px;
    right: 64px;
  }
}
@media screen and (min-width: 1200px) {
  .content-box {
    width: 100%;
    left: 50%;
    right: initial;
    transform: translate(-50%, 0);
  }
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  overflow: hidden;
}
.bg iframe,
.bg video {
  background: #d4c6a0;
  max-width: 1800px;
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.bg #player {
  height: 100vh !important;
  max-width: none !important;
}
.bg iframe {
  max-width: 1800px;
}
.bg iframe video {
  object-fit: cover;
}

.logo {
  background: url("../images/logo.png") no-repeat center center;
  background-size: 100% auto;
  width: 220px;
  height: 56px;
  display: block;
}
@media screen and (min-width: 768px) {
  .logo {
    width: 240px;
    height: 70px;
  }
}

#hero {
  background: #fff;
  align-items: center;
  text-align: center;
}
#hero .logo {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
}
#hero .hero-content {
  position: relative;
  z-index: 2;
  max-width: 540px;
  margin: 52px auto 0;
}
#hero h1 {
  --bs-heading-color: #000;
  margin: 0 0 64px;
}
#hero p {
  color: #000;
  font-size: 16px;
  line-height: 27px;
}
#hero .line1 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 24px;
  row-gap: 4px;
  max-width: 420px;
  margin: 8px auto;
  flex-wrap: wrap;
}
#hero .name {
  font-size: 22px;
  width: 100%;
}
@media screen and (min-width: 576px) {
  #hero {
    margin-bottom: 50px;
  }
  #hero .logo {
    top: 60px;
  }
  #hero .hero-content {
    margin-top: 0;
  }
  #hero p {
    font-size: 18px;
    line-height: 29px;
  }
  #hero .name {
    width: auto;
  }
}

#about {
  background-image: url("../images/img2.jpg");
}

.h-auto {
  min-height: initial;
}

#grid {
  background: none;
  padding: 64px 0 0;
}
#grid .row {
  row-gap: 24px;
}
#grid h2 {
  font-size: 24px;
  line-height: 32px;
  color: #D3BB7D;
  font-weight: 300;
  margin: 12px 0;
}
@media screen and (min-width: 992px) {
  #grid .row {
    row-gap: 0;
  }
}

.vm-stack img:nth-child(n+2) {
  display: none;
}
.vm-stack .bx-wrapper img:nth-child(n+2) {
  display: block;
}

.bx-wrapper {
  position: relative;
}
.bx-wrapper .bx-viewport {
  height: initial !important;
}
.bx-wrapper .bx-controls-direction a {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.01px;
  line-height: 5rem;
  overflow: hidden;
  z-index: 2;
  width: 40px;
  height: 40px;
}
.bx-wrapper .bx-controls-direction a::before {
  content: "";
  background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik0yMCAuNzU1bC0xNC4zNzQgMTEuMjQ1IDE0LjM3NCAxMS4yMTktLjYxOS43ODEtMTUuMzgxLTEyIDE1LjM5MS0xMiAuNjA5Ljc1NXoiLz48L3N2Zz4=") no-repeat 50% 50%;
  background-size: 30% auto;
  background-color: rgba(255, 255, 255, 0.85);
  color: #fff;
  font-size: 22px;
  display: block;
  width: 40px;
  height: 40px;
}
.bx-wrapper .bx-controls-direction a:hover::before {
  background-color: #fff;
}
.bx-wrapper .bx-controls-direction .bx-next {
  left: initial;
  right: 0;
}
.bx-wrapper .bx-controls-direction .bx-next::before {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiPjxwYXRoIGQ9Ik00IC43NTVsMTQuMzc0IDExLjI0NS0xNC4zNzQgMTEuMjE5LjYxOS43ODEgMTUuMzgxLTEyLTE1LjM5MS0xMi0uNjA5Ljc1NXoiLz48L3N2Zz4=");
}

#mission {
  background-image: url("../images/img3.jpg");
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  #mission {
    margin-top: 240px;
  }
}

#approach {
  background: none;
  padding: 96px 0;
}
#approach .row {
  margin: 64px 0 0;
  --bs-gutter-x: 2px;
  --bs-gutter-y: 40px;
  max-width: 800px;
}
#approach .img {
  position: relative;
  margin: 0 0 12px;
}
#approach .img .h5 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 768px) {
  #approach .row {
    margin-left: auto;
    margin-right: auto;
    --bs-gutter-y: 0;
  }
}

#invest {
  background-image: url("../images/img4.jpg");
  background-position: 60% 100%;
  margin-top: 50px;
}
#invest .copy {
  max-width: 500px;
  margin: auto;
}
@media screen and (min-width: 768px) {
  #invest {
    height: 80vh;
    margin-top: 200px;
  }
}
@media screen and (min-width: 1200px) {
  #invest {
    margin: 60px 0 0;
  }
}

#base {
  background-image: url("../images/img9.jpg");
  background-position: 80% 50%;
  background-size: 100% auto;
  min-height: 20vh;
  display: flex;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
}
#base .container {
  align-content: center;
}
#base .row {
  width: 70%;
}
#base .strap {
  opacity: 0.7;
}
@media screen and (min-width: 768px) {
  #base {
    background-size: cover;
    font-size: 20px;
    min-height: 50vh;
  }
  #base .row {
    align-items: center;
    width: 100%;
  }
}

.progress-wrapper {
  max-width: 500px;
  margin: 0 0 40px;
  padding: 8px 0 0;
  text-align: center;
}
.progress-wrapper.step1 .progress-labels span:nth-child(1) {
  color: #333;
  font-weight: 500;
}
.progress-wrapper.step2 .progress-labels span:nth-child(2) {
  color: #333;
  font-weight: 500;
}
.progress-wrapper.step2 .progress-bar .p {
  width: 66.6666%;
}
.progress-wrapper.step3 .progress-labels span:nth-child(3) {
  color: #333;
  font-weight: 500;
}
.progress-wrapper.step3 .progress-bar .p {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .progress-wrapper {
    margin: 0 auto 40px;
    padding: 0;
  }
}

.progress-labels {
  font-size: 12px;
  line-height: 14px;
  color: #c9c1ae;
  letter-spacing: 0.05em;
  margin: 0 0 10px;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  align-items: center;
}
.progress-labels span {
  width: 33.333%;
}

.progress-bar {
  background: rgba(222, 206, 165, 0.25);
  height: 2px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow: hidden;
}
.progress-bar .p {
  background: #ccad5d;
  height: 3px;
  width: 33.333%;
}

#form-status {
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translate(-50%, 0);
  background: rgba(94, 68, 3, 0.8);
  padding: 12px 24px;
  border-radius: 6px;
  color: #fff;
  z-index: 9999;
  max-width: 800px;
  display: none;
}

#enquire {
  background: #DECEA5;
  margin: 50px 0 0;
}
#enquire .container {
  position: relative;
  z-index: 2;
  align-content: center;
}
#enquire .bg {
  display: none;
}
#enquire form {
  max-width: 840px;
  margin: 0 auto;
  background: #fff;
  padding: 64px 24px;
  align-content: center;
}
#enquire form .actions {
  margin: 24px 0 0;
}
@media screen and (max-width: 576px) {
  #enquire {
    min-height: auto;
  }
  #enquire .container {
    padding: 0;
  }
}
@media screen and (min-width: 576px) {
  #enquire form {
    margin: 64px auto;
    padding: 64px 32px;
  }
}
@media screen and (min-width: 768px) {
  #enquire form {
    padding: 64px;
  }
}
@media screen and (min-width: 992px) {
  #enquire {
    background: transparent;
  }
  #enquire .bg {
    display: block;
  }
}

label {
  display: block;
  font-size: 12px;
  line-height: 16px;
  color: #333;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

.form-items {
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: left;
}

.form-pair {
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}
.form-item.required {
  position: relative;
}
.form-item.required::before {
  background: red;
  content: "";
  color: #ccad5d;
  font-size: 12px;
  position: absolute;
  top: 6px;
  left: -8px;
  width: 3px;
  height: 3px;
  border-radius: 4px;
}

.form-text,
.form-select,
.form-textarea {
  background-color: #fdfdfd;
  font-size: 16px;
  color: #515151;
  width: 100%;
  margin: 0;
  padding: 6px 12px;
  border: 1px solid #dbd7cd;
  border-radius: 0;
  box-shadow: inset 0 2px 1px 0 rgba(0, 0, 0, 0.03);
}
.form-text:focus, .form-text:focus-visible,
.form-select:focus,
.form-select:focus-visible,
.form-textarea:focus,
.form-textarea:focus-visible {
  outline: 1px solid #b3a378;
  border-color: #b3a378;
  box-shadow: none;
}

select[multiple]:focus option:checked {
  background: #c7b891 linear-gradient(0deg, #c7b891 0%, #c7b891 100%);
}

option:checked {
  background: #eae3d0;
}

textarea {
  resize: none;
}

.step {
  display: none;
}
.step.active {
  display: flex;
}

@media screen and (min-width: 992px) {
  .form-pair {
    flex-direction: row;
  }
  .form-pair .form-item {
    width: 47.9%;
  }
}
#footer {
  padding: 40px;
  color: #bdb6a4;
}
#footer p {
  font-size: 11px;
  margin: 0;
  line-height: 14px;
}
#footer p + p {
  margin-top: 8px;
}
#footer .copyright {
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 32px;
}
